<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Hastane Yönetim Sistemi</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Patient">Hasta</a></li>
            <li><a href="/Doctor">Doktor</a></li>
            <li><a href="/Appointment">Randevu</a></li>
           
        </ul>
    </div>
</nav>
